*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
    color-scheme: light dark;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: min(60ch, 100% - 6rem);
    margin-inline: auto;
}
